<ion-list>
    <ion-item>
        <ion-label style="text-align: center" color="primary"><b>Filter</b></ion-label>
    </ion-item>
    <ion-item>
        <ion-checkbox [checked]="this.mapStyleService.showNormalChargingStations"
                      (ionChange)="this.mapStyleService.showNormalChargingStations = !this.mapStyleService.showNormalChargingStations;
                      this.navigationService.filterStations(this.mapStyleService.showNormalChargingStations, 'station_type', 'Normalladeeinrichtung')"></ion-checkbox>
        <ion-label style="text-align: center">Normalladestionen</ion-label>
        <img src="assets/icon/charging.png" width="30">
    </ion-item>
    <ion-item>
        <ion-checkbox [checked]="this.mapStyleService.showFastChargingStations"
                      (ionChange)="this.mapStyleService.showFastChargingStations = !this.mapStyleService.showFastChargingStations;
                      this.navigationService.filterStations(this.mapStyleService.showFastChargingStations, 'station_type', 'Schnellladeeinrichtung')"></ion-checkbox>
        <ion-label style="text-align: center">Schnellladestationen</ion-label>
        <img src="assets/icon/charging_fast.png" width="30">
    </ion-item>
</ion-list>