<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-buttons slot="start">
                <ion-back-button defaultHref="tabs/(map:map)"></ion-back-button>
            </ion-buttons>
        </ion-buttons>
        <ion-title>
            Route
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-toolbar>
        <ion-icon slot="start" name="radio-button-on"></ion-icon>
        <ion-input [(ngModel)]="this.navigationService.autocompleteStartPoint.input"
                   (ionInput)="this.navigationService.updateSearchResults(this.navigationService.autocompleteStartPoint)"
                   (ionFocus)="this.navigationService.showItemsStartPoint = true;
                               this.navigationService.showItemsEndPoint = false;
                               this.navigationService.showItemsPlaceSearch = false;
                               this.navigationService.autocompleteItems = []"
                   placeholder="Startpunkt"></ion-input>
    </ion-toolbar>
    <ion-toolbar>
        <ion-icon slot="start" name="pin"></ion-icon>
        <ion-input [(ngModel)]="this.navigationService.autocompleteEndPoint.input"
                   (ionInput)="this.navigationService.updateSearchResults(this.navigationService.autocompleteEndPoint)"
                   (ionFocus)="this.navigationService.showItemsStartPoint = false;
                               this.navigationService.showItemsEndPoint = true;
                               this.navigationService.showItemsPlaceSearch = false;
                               this.navigationService.autocompleteItems = []"
                   placeholder="Endpunkt"></ion-input>
    </ion-toolbar>
    <ion-list *ngIf="this.navigationService.showItemsStartPoint" [hidden]="this.navigationService.autocompleteStartPoint.input < 1" no-padding>
        <ion-item (click)="this.navigationService.getInput(this.navigationService.autocompleteStartPoint)">Mein Standort</ion-item>
        <ion-item *ngFor="let item of this.navigationService.autocompleteItems" tappable
                  (click)="this.navigationService.selectSearchResult(item, this.navigationService.autocompleteStartPoint)">
            {{ item.description }}
        </ion-item>
    </ion-list>
    <ion-list *ngIf="this.navigationService.showItemsEndPoint" [hidden]="this.navigationService.autocompleteEndPoint.input < 1" no-padding>
        <ion-item *ngFor="let item of this.navigationService.autocompleteItems" tappable
                  (click)="this.navigationService.selectSearchResult(item, this.navigationService.autocompleteEndPoint)">
            {{ item.description }}
        </ion-item>
    </ion-list>
    <button ion-button round
            (click)="this.navigationService.convertObj(this.navigationService.autocompleteStartPoint, this.navigationService.autocompleteEndPoint)">
        <ion-icon slot="start" name="navigate"></ion-icon>Starten</button>
</ion-content>
