<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="tabs/(map:map)"></ion-back-button>
        </ion-buttons>
        <ion-title>
            Route
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content [formGroup]="this.navigationService.routeForm">
    <ion-list style="height: 100%">
        <ion-toolbar class="search">
            <ion-icon [hidden]="this.navigationService.autocompleteStartPoint.input !== 'Mein Standort'" slot="start"
                      name="radio-button-on"></ion-icon>
            <ion-icon [hidden]="this.navigationService.autocompleteStartPoint.input === 'Mein Standort'" slot="start"
                      name="radio-button-off"></ion-icon>
            <ion-input type="text" [(ngModel)]="this.navigationService.autocompleteStartPoint.input"
                       (ionInput)="this.navigationService.updateSearchResults(this.navigationService.autocompleteStartPoint)"
                       (ionFocus)="this.navigationService.showItemsStartPoint = true;
                               this.navigationService.showItemsWayPoint = false;
                               this.navigationService.showItemsEndPoint = false;
                               this.navigationService.showItemsPlaceSearch = false;
                               this.navigationService.autocompleteItems = [];"
                       placeholder="Startpunkt" formControlName="start_point">
            </ion-input>
            <ion-buttons slot="end" [hidden]="this.navigationService.autocompleteStartPoint.input < 1">
                <ion-button (click)="this.navigationService.autocompleteStartPoint.input = ''">
                    <ion-icon name="close"></ion-icon>
                </ion-button>
            </ion-buttons>
            <ion-buttons slot="end">
                <ion-button (click)="this.navigationService.getInput(this.navigationService.autocompleteStartPoint); this.navigationService.autocompleteStartPoint.input = 'Mein Standort';
                                 this.navigationService.autocompleteItems = []" class="location-button">
                    <ion-icon name="md-locate"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
        <ion-fab>
            <ion-list class="place-list" *ngIf="this.navigationService.showItemsStartPoint"
                      [hidden]="this.navigationService.autocompleteStartPoint.input < 1" no-padding>
                <ion-item *ngFor="let item of this.navigationService.autocompleteItems" tappable
                          (click)="this.navigationService.selectSearchResult(item, this.navigationService.autocompleteStartPoint)">
                    {{ item.description }}
                </ion-item>
            </ion-list>
        </ion-fab>
        <div formArrayName="way_point">
            <div *ngFor="let waypointInstance of this.navigationService.wayPointArray.controls; let i = index"
                 [formGroupName]="i">
                <ion-toolbar class="search">
                    <ion-icon slot="start" name="more"></ion-icon>
                    <ion-input type="text" [(ngModel)]="waypointInstance['input']"
                               (ionInput)="this.navigationService.updateSearchResults(waypointInstance)"
                               (ionFocus)="this.navigationService.showItemsStartPoint = false;
                               this.navigationService.showItemsWayPoint = true;
                               this.navigationService.showItemsEndPoint = false;
                               this.navigationService.showItemsPlaceSearch = false;
                               this.navigationService.autocompleteItems = [];
                               saveWayPoint = waypointInstance;
                               saveWayPointIndex = i;"
                               placeholder="Zwischenstopp" formControlName="way_point_address"></ion-input>
                    <ion-buttons slot="end">
                        <ion-button (click)="this.navigationService.removeWaypoint(i)">
                            <ion-icon name="close"></ion-icon>
                        </ion-button>
                    </ion-buttons>
                </ion-toolbar>
            </div>
            <ion-fab>
                <ion-list class="place-list" *ngIf="this.navigationService.showItemsWayPoint === true"
                          [hidden]="saveWayPoint['input'] < 1" no-padding>
                    <ion-item *ngFor="let item of this.navigationService.autocompleteItems" tappable
                              (click)="this.navigationService.selectSearchResult(item, saveWayPoint)">
                        {{ item.description }}
                    </ion-item>
                </ion-list>
            </ion-fab>
        </div>

        <ion-toolbar class="search">
            <ion-icon slot="start" name="pin"></ion-icon>
            <ion-input type="text" [(ngModel)]="this.navigationService.autocompleteEndPoint.input"
                       (ionInput)="this.navigationService.updateSearchResults(this.navigationService.autocompleteEndPoint)"
                       (ionFocus)="this.navigationService.showItemsStartPoint = false;
                               this.navigationService.showItemsWayPoint = false;
                               this.navigationService.showItemsEndPoint = true;
                               this.navigationService.showItemsPlaceSearch = false;
                               this.navigationService.autocompleteItems = [];"
                       placeholder="Endpunkt" formControlName="end_point"></ion-input>
            <ion-buttons slot="end" [hidden]="this.navigationService.autocompleteEndPoint.input < 1">
                <ion-button (click)="this.navigationService.autocompleteEndPoint.input = ''">
                    <ion-icon name="close"></ion-icon>
                </ion-button>
            </ion-buttons>
        </ion-toolbar>
        <ion-fab>
            <ion-list class="place-list" *ngIf="this.navigationService.showItemsEndPoint"
                      [hidden]="this.navigationService.autocompleteEndPoint.input < 1" no-padding>
                <ion-item *ngFor="let item of this.navigationService.autocompleteItems" tappable
                          (click)="this.navigationService.selectSearchResult(item, this.navigationService.autocompleteEndPoint);">
                    {{ item.description }}
                </ion-item>
            </ion-list>
        </ion-fab>

        <div class="waypt-button">
            <ion-button slot="start" size="small" shape="round" color="primary" fill="clear"
                        (click)="this.navigationService.addWaypoints()">
                <ion-icon slot="start" name="add-circle-outline"></ion-icon>
                Zwischenstopp
            </ion-button>
        </div>
        <div class="info-button"
             [hidden]="this.navigationService.showInfoButton != false">
            <ion-button slot="start" size="small" shape="round" color="primary" fill="clear"
                        (click)="this.navigationService.showInfoButton = true;">
                <ion-icon slot="start" name="information-circle-outline"></ion-icon>
                Informationen hinzufügen
            </ion-button>
        </div>

        <ion-list class="car-information"
                  *ngIf="this.navigationService.showInfoButton"
                  [hidden]="this.navigationService.showInfoButton != true">
            <ion-item>
                <ion-label>Informationen hinzufügen</ion-label>
            </ion-item>
            <ion-item>
                <ion-input type="text" placeholder="aktuelle Reichweite in km"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label>Steckertypen</ion-label>
                <ion-select interface="alert" multiple="true">
                    <ion-select-option value="acCEE3">AC CEE 3 polig</ion-select-option>
                    <ion-select-option value="acCEE5">AC CEE 5 polig</ion-select-option>
                    <ion-select-option value="acTyp2">AC Steckdose Typ 2</ion-select-option>
                    <ion-select-option value="ccs">CCS/ Combo 2</ion-select-option>
                    <ion-select-option value="dcCHAdeMO">DC CHAdeMO</ion-select-option>
                    <ion-select-option value="dcKupplung">DC Kupplung Combo</ion-select-option>
                    <ion-select-option value="Typ1">Steckdose Typ 1</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Fahrstil</ion-label>
                <ion-select interface="alert">
                    <ion-select-option value="slow">Langsam</ion-select-option>
                    <ion-select-option value="normal">Normal</ion-select-option>
                    <ion-select-option value="fast">Schnell</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label>Wetter</ion-label>
                <ion-select interface="alert">
                    <ion-select-option value="cold">Kalt</ion-select-option>
                    <ion-select-option value="normal">Normal</ion-select-option>
                    <ion-select-option value="heat">Heiß</ion-select-option>
                </ion-select>
            </ion-item>
        </ion-list>


        <div class="start-button" text-center>
            <ion-button
                    [disabled]="!this.navigationService.routeForm.valid"
                    slot="end" shape="round" color="primary" fill="outline"
                    (click)="this.navigationService.convertObj(this.navigationService.routeForm.value['start_point'],
                         this.navigationService.routeForm.value['end_point'],
                         this.navigationService.routeForm.value['way_point']);
                         this.navigationService.showInfoButton = false;">
                <ion-icon slot="start" name="car"></ion-icon>
                Route berechnen
            </ion-button>
        </div>
    </ion-list>
</ion-content>
