<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-buttons slot="start">
                <ion-back-button defaultHref="tabs/(map:map)"></ion-back-button>
            </ion-buttons>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-toolbar>
        <ion-icon slot="start" name="pin"></ion-icon>
        <ion-input placeholder="Startpunkt"></ion-input>
    </ion-toolbar>
    <ion-toolbar>
        <ion-icon slot="start" name="pin"></ion-icon>
        <ion-input placeholder="Endpunkt"></ion-input>
    </ion-toolbar>
</ion-content>
