.location-button {
  padding-left: 5px;
}

.start-button {
  margin-top: 10px;
}

.waypt-button {
  margin-top: 10px;
}

.search {
  padding-left: 5px;
  padding-right: 5px;
}

.place-list {
  width: 100%;
  position: relative;
  z-index: 2;
}

.car-information {
  margin-top: 10px;
  background-color: #f7f7f7;
}

ion-input {
  margin-left: 5px;
}

ion-fab {
  width: 100%;
}