<ion-content scroll="false">
    <ion-fab vertical="bottom" horizontal="end">
        <ion-fab-button (click)="setToCurrentLocation()" color="light" mini>
            <ion-icon name="locate"></ion-icon>
        </ion-fab-button>
    </ion-fab>
    <ion-list [hidden]="this.navigationService.autocompleteItems.length < 1">
        <ion-item *ngFor="let item of this.navigationService.autocompleteItems" tappable
                  (click)="setToSelectedLocation(item)">
            {{ item.description }}
        </ion-item>
    </ion-list>
    <!--ion-card>
        <ion-card-content>
            <div #directionsPanel></div>
        </ion-card-content>
    </ion-card-->
    <div #map id="map">
    </div>
</ion-content>
