<div *ngIf="this.mapStyleService.showSplash" class="splash">
    <div class="spinner">
        <div *ngIf="!this.navigationService.isNight" class="double-bounce1Day"></div>
        <div *ngIf="!this.navigationService.isNight" class="double-bounce2Day"></div>
        <div *ngIf="this.navigationService.isNight" class="double-bounce1Night"></div>
        <div *ngIf="this.navigationService.isNight" class="double-bounce2Night"></div>
    </div>
</div>

<ion-app>
    <ion-router-outlet></ion-router-outlet>
</ion-app>
