<div *ngIf="this.mapStyleService.showSplash" class="splash">
    <div class="spinner">
        <div *ngIf="!this.navigationService.isNight" class="double-bounce1Day"></div>
        <div *ngIf="!this.navigationService.isNight" class="double-bounce2Day"></div>
        <div *ngIf="this.navigationService.isNight" class="double-bounce1Night"></div>
        <div *ngIf="this.navigationService.isNight" class="double-bounce2Night"></div>
    </div>
</div>

<ion-app>
    <ion-split-pane>
        <ion-menu type="overlay">
            <ion-header>
                <ion-toolbar>
                    <ion-title>eFill</ion-title>
                </ion-toolbar>
            </ion-header>
            <ion-content>
                <ion-list>
                    <ion-item>
                        Item 1
                    </ion-item>
                    <ion-item>
                        Item 2
                    </ion-item>
                    <ion-item>
                        Item 3
                    </ion-item>
                </ion-list>
            </ion-content>
        </ion-menu>
        <ion-router-outlet main></ion-router-outlet>
    </ion-split-pane>
</ion-app>
