<div *ngIf="showSplash" class="splash">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>

<ion-app>
    <ion-split-pane>
        <ion-menu type="overlay">
            <ion-header>
                <ion-toolbar>
                    <ion-title>eFill</ion-title>
                </ion-toolbar>
            </ion-header>
            <ion-content>
                <ion-list>
                    <ion-item>
                        <ion-label>Nightmode</ion-label>
                        <ion-toggle *ngIf="!this.navigationService.isNightToggle" checked="false"
                                    (ionChange)="this.navigationService.changeMapStyle()"></ion-toggle>
                        <ion-toggle *ngIf="this.navigationService.isNightToggle" checked="true"
                                    (ionChange)="this.navigationService.changeMapStyle()"></ion-toggle>
                    </ion-item>
                </ion-list>
            </ion-content>
        </ion-menu>
        <ion-router-outlet main></ion-router-outlet>
    </ion-split-pane>
</ion-app>
