<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Favorites
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list *ngIf="this.navigationService.favorites.length === 0">
        <ion-item>
            <ion-label>
                No favorites have been added.
            </ion-label>
        </ion-item>
    </ion-list>

    <ng-container *ngFor="let favorite of this.navigationService.favorites; let i = index;">
        <ion-list>
            <ion-item (click)="this.navigationService.selectFavorite(favorite)" tappable>
                <ion-label>
                    {{favorite['operator']}}
                </ion-label>
                <ion-buttons slot="end">
                    <ion-button (click)="removeFavorite(this.navigationService.favorites, i)">
                        <ion-icon name="trash" color="danger"></ion-icon>
                    </ion-button>
                </ion-buttons>
            </ion-item>
        </ion-list>
    </ng-container>
</ion-content>