<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/(map:map)"></ion-back-button>
    </ion-buttons>
    <ion-title>Autoprofil anlegen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Marke</ion-label>
    <ion-select interface="popover">
      <ion-select-option value="audi">Audi</ion-select-option>
      <ion-select-option value="bmw">BMW</ion-select-option>
      <ion-select-option value="byd">BYD</ion-select-option>
      <ion-select-option value="chevrolet">Chevrolet</ion-select-option>
      <ion-select-option value="citroen">Citroën</ion-select-option>
      <ion-select-option value="ego">e.Go</ion-select-option>
      <ion-select-option value="fisker">Fisker</ion-select-option>
      <ion-select-option value="ford">Ford</ion-select-option>
      <ion-select-option value="gerEcars">German E-Cars</ion-select-option>
      <ion-select-option value="jaguar">Jaguar</ion-select-option>
      <ion-select-option value="kia">Kia</ion-select-option>
      <ion-select-option value="landRover">Land Rover</ion-select-option>
      <ion-select-option value="mercedes">Mercedes-Benz</ion-select-option>
      <ion-select-option value="mini">MINI</ion-select-option>
      <ion-select-option value="mitsubishi">Mitsubishi</ion-select-option>
      <ion-select-option value="nissan">Nissan</ion-select-option>
      <ion-select-option value="opel">Opel</ion-select-option>
      <ion-select-option value="peugeot">Peugeot</ion-select-option>
      <ion-select-option value="porsche">Porsche</ion-select-option>
      <ion-select-option value="renault">Renault</ion-select-option>
      <ion-select-option value="smart">smart</ion-select-option>
      <ion-select-option value="streetScooter">Street Scooter</ion-select-option>
      <ion-select-option value="tazzari">Tazzari</ion-select-option>
      <ion-select-option value="tesla">Tesla</ion-select-option>
      <ion-select-option value="toyota">Toyota</ion-select-option>
      <ion-select-option value="vw">Volkswagen</ion-select-option>
      <ion-select-option value="volvo">Volvo</ion-select-option>
    </ion-select>
  </ion-item>
</ion-content>
