<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-input [(ngModel)]="this.navigationService.autocompletePlaceSearch.input"
                   (ionInput)="this.navigationService.updateSearchResults(this.navigationService.autocompletePlaceSearch)"
                   (ionFocus)="this.navigationService.showItemsStartPoint = false;
                               this.navigationService.showItemsEndPoint = false;
                               this.navigationService.showItemsPlaceSearch = true;
                               this.navigationService.autocompleteItems = []"
                   placeholder="Hier suchen"></ion-input>
        <ion-buttons slot="end">
            <ion-button (click)="moveToSetRoute()" class="routeButton">
                <ion-icon name="car"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <app-google-maps></app-google-maps>
</ion-content>