ion-input {
  margin-top: -5px;
  margin-bottom: -5px;
  margin-left: 20px;
}

.routeButton {
  border-left: 1px solid rgba(211, 211, 211, 0.7);
  padding-left: 5px;
}

.route-icons {
  min-width: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

.info {
  margin-right: 10px;
}

.distance {
  color: #0F9D58;
  margin-right: 10px;
}

ion-fab {
  width: 100%;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 35px;
}

ion-toolbar {
  border-radius: 4px;
}